# Firebase Configuration
FIREBASE_PROJECT_ID=notes-webapp-5b075
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@notes-webapp-5b075.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
FIREBASE_DATABASE_URL=https://notes-webapp-5b075.firebaseio.com

# Server Configuration
PORT=5002
NODE_ENV=development


